{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <p></p>
  <a class="btn azulito" href="{{ path('agenda_index') }}"><i class="material-icons blanco">arrow_back</i></a>

  <h3 class="epigrafes centrarEpigrafe">Nuevo Contacto</h3>


  {{ form_start(form) }}
      {{ form_widget(form) }}
      <input class="btn azulito right" type="submit" value="Crear contacto" />
  {{ form_end(form) }}
</div>
{% endblock %}
