/******************************
Flexbox Layout
*******************************/

.header, .navi, .sea-creature-container, .genus-details, .notes-container, .footer {
    display: -webkit-flex;
    display: flex;
}

.header {
    justify-content: space-between;
}

.navi {
    flex: 1;
    justify-content: flex-end;
}

.main-content {
    min-height: 300px;
}

.sea-creature-container {
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.notes-container {
    justify-content: space-between;
    border-top: 1px solid #ECF0F1;
}

.footer {
    justify-content: center;
}

@media all and (min-width: 700px) {
    .sea-creature-container {
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin: 30px;
    }
}

/******************************
Top Nav General Styling
*******************************/

body {
    margin: 0;
    color: #3a3a3a;
}

.search-bar {
    height: 50px;
    width: 100%;
    display: none;
}

.sea-search > input {
    width: 100%;
    padding: 10px 20px;
    font-size: 22px;
}

.search-input {
    border: none;
    margin: 0;
}

.header {
    padding: 10px 0;
    margin: 0 auto;
    background-color: #afe3ff;
}

.logo-icon {
    height: 100px;
    width: auto;
    margin-top: 12px;
}

.navi {
    list-style: none;
}

.navi {
    padding-top: 25px;
}

.navi li a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 10px;
}

.navi li a:hover {
    color: #000;
}

.navi > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.navi li:last-child a {
    background: #eee;
    border-radius: 2px;
    transition: 200ms ease-in-out;
    padding: 8px 16px 7px;
}

.navi li:last-child a:hover {
    background: rgba(200, 200, 200, .5);
    color: #000;
}

@media all and (min-width: 1030px) {
    .header {
        min-width: 768px;
    }

    .sea-creature-container {
        justify-content: flex-start;
    }

    .genus-name {
        text-align: left;
        margin-left: 60px;
    }

}

/******************************
FOOTER Styling
*******************************/

.footer {
    padding: 20px;
    background: #AFE3FF;
    font-size: 1.3em;
    margin-top: 40px;
}

.footer-text {
    color: #3a3a3a;
}

.footer-text > a {
    color: #3a3a3a;
}






/* LOGIN STYLE  */


.centrar{
  float: none !important;
  margin: 0 auto !important;
  line-height: 20px;
}

.body-register{
  background-color: rgba(100,100,100,0.4);
}

.required, .campos{
  color: black !important;
  font-size: 1.1em !important;
}

#username, #password{
  padding: 0 0.3em;
}

/* AGENDA STYLE */

.logo{
  color: black;
}

.icono{
  padding: 0 1rem;
}

.azulito{
  font-weight: bold;
  background-color: #07A5EC !important;
}

.epigrafes, .negrita{
  font-weight: bold;
}

.centrarEpigrafe{
  text-align: center;
}

.blanco, .btn:hover, .btn:focus{
  color: #FFF;
}  
